<!DOCTYPE html>
{% load  staticfiles %}
<html>
<head>
	<title>day01</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
</head>
<body>
    <div class="ui very padded container vertical segment" style="border-bottom: 0">
        <h1 class="ui header" style="margin-bottom: 10px">
            {{ artical.headline }}
        </h1>
        <div style="margin-bottom: 30px">
            <i class="icon grey small unhide"></i>
            <span>{{ artical.views }}</span>
            <i class="icon grey heart" style="margin-left: 10px"></i>
            <span>{{ artical.favs }}</span>
            <span style="margin-left: 20px">{{ artical.createtime }}</span>
        </div>
        <div class="ui image">
                <img src="{{ artical.img }}" alt="">
            </div>
        <p style="font-size: 20px;margin-top: 30px">
            {{ artical.content }}
        </p>
        <div class="ui mini tag label" >
            {{ artical.tag }}
        </div>
    </div>
    <div class="ui basic very padded borderless container segment" style="padding-top: 0">
        <div class="ui minimal comments">
            {% if best_comment %}
                <div class="ui mini left red ribbon label">
                    <i class="icon fire"></i><span>最佳评论</span>
                </div>
                <div class="best comment">
                        <a class="avatar">
                          <img src={{ best_comment.avatar }}>
                        </a>
                        <div class="content">
                          <a class="author">{{ best_comment.name }}</a>
                          <div class="metadata">
                            <span class="date">{{ best_comment.createtime }}</span>
                          </div>
                          <div class="text">{{ best_comment.content }}</div>
                          <div class="actions">
                            <a class="reply">Reply</a>
                          </div>
                        </div>
                    </div>
            {% endif %}
{#            <h3 class="ui dividing header" style="border: none;margin-bottom: 0">评论</h3>#}
            {% if artical.article_comments.count > 0 %}
                <div class="ui mini left blue ribbon label" style="margin-top: 30px">
                    <i class="icon fire"></i><span>其他评论</span>
                </div>
                {% for comment in artical.article_comments.all %}
                <div class="comment" style="margin-bottom: 15px">
                    <a class="avatar">
                      <img src={{ comment.avatar }}>
                    </a>
                    <div class="content">
                      <a class="author">{{ comment.name }}</a>
                      <div class="metadata">
                        <span class="date">{{ comment.createtime }}</span>
                      </div>
                      <div class="text">{{ comment.content }}</div>
                      <div class="actions">
                        <a class="reply">Reply</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}

        </div>

        <form class="ui error reply form" method="post" action="{% url 'comment' artical.id %}">
            {% if form.errors %}
                <div class="ui error message">
                        {{ form.errors }}
                </div>
                {% for field in form %}
                    <div class="{{ field.errors|yesno:'error, '}} field">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
            {% else %}
                {% for field in form %}
                    <div class="field">
                        {{ field.lable }}
                        {{ field }}
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <button type="submit" class="ui blue button">评论</button>
        </form>
    </div>
</body>
</html>
