{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static  'css/list_custom.css' %}" media="screen" title="no title" charset="utf-8">

</head>

<body>
    <div class="ui inverted top fixed menu borderless red menu">
        <div class="header item">
            <a href="/index">
                <div class="ui image">
                    <img src="{% static 'images/tenlogo.png' %}" alt="">
                </div>
            </a>
        </div>


        <div class="right menu">
            {% if request.user.is_authenticated %}
                <a href="{% url 'myInfo' request.user.id %}">
                    <div class="item">
                        <h5 class="ui inverted header">
                            <div class="ui mini circular image" style="margin-right: 5px">
                                {% if request.user.user_profile.first.avatar %}
                                    <img src="/upload/{{ request.user.user_profile.first.avatar }}" alt="" style="width: 35px;height: 35px;object-fit: cover"/>
                                {% else %}
                                    <img src="{% static 'images/default.png' %}" alt="" />
                                {% endif %}
                            </div>
                            {% if request.user.user_profile.first.nickname %}
                                <span>{{ request.user.user_profile.first.nickname }}</span>
                            {% else %}
                                <span>{{ request.user.username }}</span>
                            {% endif %}

                        </h5>
                    </div>
                </a>
                <div class="item">
                    <a href="{% url 'logout' %}" class="ui inverted circular button">Logout</a>
                </div>

            {% else %}

                <div class="item">
                    <a href="{% url 'login' %}" class="ui inverted circular button">Signup/Login</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="ui inverted segment container nav">
        <div class="ui  three borderless  item  menu">
            {% if tag == 'new' %}
                <a class="item" href="/index" > All </a>
                <a class="active item" href="/index?tag=new"> New </a>
                <a class="item" href="/index?tag=editor"> Editor's </a>
            {% elif tag == 'editor' %}
                <a class="item" href="/index" > All </a>
                <a class="item" href="/index?tag=new"> New </a>
                <a class="active item" href="/index?tag=editor"> Editor's </a>
            {% else %}
                <a class="active item" href="/index" > All </a>
                <a class="item" href="/index?tag=new"> New </a>
                <a class="item" href="/index?tag=editor"> Editor's </a>
            {% endif %}
        </div>
    </div>


    <div class="ui basic segment container content">

        <div class="ui three column grid">
            {% for article in article_list %}
            <div class="column">
                <a class="ui fluid card" href="{% url 'detail' article.id %}">
                    <div class="image">
                        <img src="{{ article.img }}" alt="" style="height:200px;object-fit: cover;">
                    </div>
                </a>

                <div class="title header" href="#"><p>{{ article.title|truncatechars:25 }}</p></div>

                <i class="icon grey unhide"></i>
                <span style="color:#bbbbbb">{{ article.views }}</span>

                <span class="" style="color:rgb(226, 226, 226)">|</span>

                <i class="icon grey checkmark"></i>
                <span style="color:#bbbbbb"> {{ article.likes }} people got it</span>

            </div>
            {% endfor %}

        </div>
    </div>


    <div class="ui center aligned very padded vertical segment container">
        <div class="ui pagination menu">
            {% if tag %}
                {% if article_list.has_previous %}
                    <a href="?tag={{ tag }}&page={{ article_list.previous_page_number }}" class="item">
                        <i class="icon red left caret"></i>
                    </a>
                {% else %}
                    <a href="?tag={{ tag }}&page={{ article_list.start_index }}" class="disabled item">
                        <i class="icon  left caret"></i>
                    </a>
                {% endif %}

                {% for page_number in article_list.paginator.page_range %}
                    {% ifequal page_number  article_list.number %}
                        <a href="?tag={{ tag }}&page={{ page_number }}" class="active item" style="background-color: red; color:white">
                            {{ page_number }}
                        </a>
                    {% else %}
                        <a href="?tag={{ tag }}&page={{ page_number }}" class=" item">
                            {{ page_number }}
                        </a>
                    {% endifequal %}
                {% endfor %}

                {% if  article_list.has_next %}
                    <a href="?tag={{ tag }}&page={{ article_list.next_page_number }}" class="item">
                        <i class="icon red right caret"></i>
                    </a>
                {% else %}
                    <a href="?tag={{ tag }}&page={{ article_list.paginator.num_pages }}" class="disabled item">
                        <i class="icon  right caret"></i>
                    </a>
                {% endif %}
            {% else %}
                {% if article_list.has_previous %}
                    <a href="?page={{ article_list.previous_page_number }}" class="item">
                        <i class="icon red left caret"></i>
                    </a>
                {% else %}
                    <a href="?page={{ article_list.start_index }}" class="disabled item">
                        <i class="icon  left caret"></i>
                    </a>
                {% endif %}

                {% for page_number in article_list.paginator.page_range %}
                    {% ifequal page_number  article_list.number %}
                        <a href="?page={{ page_number }}" class="active item" style="background-color: red; color:white">
                            {{ page_number }}
                        </a>
                    {% else %}
                        <a href="?page={{ page_number }}" class=" item">
                            {{ page_number }}
                        </a>
                    {% endifequal %}
                {% endfor %}

                {% if  article_list.has_next %}
                    <a href="?page={{ article_list.next_page_number }}" class="item">
                        <i class="icon red right caret"></i>
                    </a>
                {% else %}
                    <a href="?page={{ article_list.paginator.num_pages }}" class="disabled item">
                        <i class="icon  right caret"></i>
                    </a>
                {% endif %}
            {% endif %}

        </div>
    </div>
</body>


</html>
