<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/semantic.css'%}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/myinfo.css'%}" media="screen" title="no title">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">

    </head>
    <body>
        <div class="ui inverted top fixed menu borderless red menu">
            <div class="header item">
                <a href="/index">
                <div class="ui image">
                    <img src="{% static 'images/tenlogo.png' %}" alt="">
                </div>
            </a>
            </div>

            <div class="right menu">
                <a href="{% url 'myInfo' request.user.id %}">
                    <div class="item">
                        <h5 class="ui inverted header">
                            <div class="ui mini circular image" style="height: 35px;margin-right: 5px">
                                {% if request.user.user_profile.first.avatar %}
                                    <img src="/upload/{{ request.user.user_profile.first.avatar }}" alt="" />
                                {% else %}
                                    <img src="{% static 'images/default.png' %}" alt="" />
                                {% endif %}
                            </div>
                            <span>{{ request.user.user_profile.first.nickname }}</span>
                        </h5>
                    </div>
                </a>
                <div class="item">
                    <a href="{% url 'logout' %}" class="ui inverted circular button">Logout</a>
                </div>
            </div>
        </div>
        <div class="ui  raised container segments">
            <div class="ui head basic segment" style="background-image: url('images/bg.png');">
                <div class="ui circular image cover">
                    <img src="/upload/{{ request.user.user_profile.first.avatar }}" alt="" />
                </div>
            </div>

            <div class="ui bottom inverted  six item attached menu">
                <a href="{% url 'myInfo' request.user.id %}" class="active item">
                    <span>个人资料</span>
                </a>
                <a href="/myCollection" class="item">
                    <span>我赞过的</span>
                </a>
            </div>

            <div class="ui butt segment">
                <div class="ui basic very padded segment container info">
                    <form class="ui error tiny form" enctype="multipart/form-data" action="{% url 'editInfo' request.user.id %}" method="post">
                        {% if form.errors %}
                            <div class="ui error message">
                                {{ form.errors }}
                            </div>
                            {% for field in form  %}
                                <div class="{{ field.errors|yesno:'error, ' }} field">
                                    {{ field.label }}
                                    {{ field }}
                                </div>
                            {% endfor %}

                        {% else %}
                            {% for field in form  %}
                                <div class="field">
                                    {{ field.label }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        <button class="ui inverted red right floated button" type="submit">修改资料</button>
                    </form>
                </div>

            </div>
        </div>
    </body>
</html>
