body{
    background: url("../images/brick.jpg");
    background-size: 150px 150px;
    margin: 0;
}
.bg{
    background-color: blue;
    border: solid 8px orange;
    width: 320px;
    height: 256px;
    left: 50%;
    top:50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.yellowFlower{
    background: url("../images/flower.png");
    background-size: contain;
    left: 128px;
    position: relative;
    width: 64px;
    height: 64px;
}
.wall1{
    background: url("../images/grass.png");
    background-size: contain;
    left: 64px;
    position: relative;
    width: 192px;
    height: 64px;
}
.wall2{
    background: url("../images/grass.png");
    background-size: contain;
    /*left: 64px;*/
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
}
.redFlower{
    background: url("../images/rose.png");
    background-size: contain;
    position: relative;
    display: inline-block;
    /*left: 64px;*/
    width: 64px;
    height: 64px;
}
.wall3{
    background: url("../images/grass.png");
    background-size: contain;
    /*left: 64px;*/
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
}

.wall4{
    background: url("../images/grass.png");
    background-size: contain;
    left: 64px;
    position: relative;
    width: 192px;
    height: 64px;
}
.second{
    width: 192px;
    height: 64px;
    position: relative;
    left: 64px;
}
.point{
    background-color: orange;
    width: 8px;
    height: 8px;
}